* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: #fff;
  color: #333;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.right{
  background-color: #f8f8f8;

}

.left,
.right {
  flex: 1;
  padding: 40px;
}

.left {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 250px;
  flex: 0.3;
}

.logo {
    margin-bottom: 60px;
    width: 176.33px;
    height: 40px;
}

.logo span {
  margin-left: 5px;
}

h1 {
  font-size: 64px;
  margin-bottom: 20px;
}

h1 .green {
  color: #00c48c;
}

.left p {
  font-size: 16px;
  color: #777;
  margin-bottom: 40px;
  max-width: 400px;
}

.car-img {
  width: 100%;
  max-width: 500px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  background-color: #fff;
}

.arrow-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: -270px;
  z-index: 10;
  transform: translate(35%);
}

.arrow-button img {
  width: 84px;
  height: 84px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  font-size: 24px;
  color: #777;
  margin-bottom: 20px;
  
}

.form label {
  display: block;
  margin: 15px 0 5px;
  font-size: 14px;
  color: #333;
}

input,
select {
  width: 50%;
  padding: 10px;
  border: 1px solid #00c48c;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}

.btn {
  display: inline-block;
  background-color: #00c48c;
  color: white;
  border: none;
  padding: 12px;
  width: 50%;
  border-radius: 10px;
  font-size: 16px;  
  text-align: center;
  text-decoration: none;
  margin-top: 15px;

}

.btn:hover {
  background-color: #00b17a;
}